RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^\.]+)$ $1.php [NC,L]

RewriteRule .git/* - [F]
RewriteRule README.md - [F]
RewriteRule LICENSE.txt - [F]

ErrorDocument 404 /404.php

Options -Indexes
