RewriteEngine On

RewriteCond %{HTTP_HOST} ^www.mcatlas.net [NC]
RewriteRule ^(.*)$ http://mcatlas.net/$1 [L,R=301]

RewriteRule .git/* - [F]
RewriteRule includes/* - [F]
RewriteRule README.md - [F]
RewriteRule LICENSE.txt - [F]
RewriteRule .htaccess - [F]
RewriteRule .htpasswd - [F]

ErrorDocument 404 /404.php

Options -Indexes
Options +MultiViews

AuthType Basic
AuthName "Development"
AuthUserFile /var/www/html/mcatlas.net/.htpasswd
Require valid-user
